.card-depoimento {
    width: 100%;
    max-width: 384px;
    background-color: rgba(241, 240, 245, 0.55);
    border-radius: 8px;
    height: 209px;
    padding: 3.7rem 3.2rem 2.3rem 3.2rem;

    .user {
        margin-bottom: 2.1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        strong {
            font-family: 'Poppins';
            font-weight: 600;
            font-size: 1.8rem;
            line-height: 112%;
            letter-spacing: -1px;
            color: $gray-500;
        }
    }

    p {
        font-size: 1.8rem;
        line-height: 150%;
        color: $gray-400;
    }

}