header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 88px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgba($color: #ffffff, $alpha: 0.2);

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        nav {
            display: flex;
            align-items: center;

            ul {
                display: flex;
                align-items: center;
                margin-right: 59px;

                li {

                    a {
                        font-family: 'Poppins';
                        font-weight: 500;
                        font-size: 1.6rem;
                        line-height: 125%;
                        color: #fff;
                        transition: color .2s;

                        &:hover {
                            color: $brand-yellow;
                        }
                    }

                    &+li {
                        margin-left: 48px;
                    }
                }
            }
        }
    }


}