.s-hero {

    width: 100%;
    height: 78.6rem;
    background: url("../img/bg-hero.svg") no-repeat center;
    padding-top: 17.5rem;


    .container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }


    .text {
        width: 100%;
        max-width: 68.4rem;
    }

    h3 {
        opacity: 0.8;
        color: #fff;
        font-weight: 600;
        margin-bottom: 32px;
    }

    h1 {
        color: #fff;
        margin-bottom: 3.9rem;
    }

    ul {
        margin-top: 6.4rem;
        display: flex;
        align-items: center;
        width: 62.1rem;
        justify-content: space-between;

        li {
            display: flex;
            align-items: center;

            .icon {
                height: 4.8rem;
                width: 4.8rem;
                background: linear-gradient(180deg, rgba(53, 203, 226, 0.39) 0%, rgba(53, 202, 226, 0) 100%);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                margin-right: 1.2rem;
            }


            span {
                font-size: 1.8rem;
                color: #fff;
                line-height: 2.2rem;
            }
        }
    }

    .area-image {
        width: 100%;
        max-width: 76.6rem;
        margin-right: -17.4rem;

        h2 {
            text-align: center;
            margin-bottom: 6.7rem;
            color: #fff;
            opacity: .4;
            font-weight: 600;
        }


        .image {
            width: 100%;
            height: 54.1rem;
            position: relative;
            top: 4.3rem;

            img {
                position: absolute;
            }

            .card-front {
                top: 41px;
                left: 0;
                z-index: 2;
            }

            .card-back {
                bottom: 46px;
                right: 86px;
                z-index: 1;
            }

            .circle {
                top: 28px;
                right: 46px;
            }

        }

    }

}