h1 {
    font-weight: 600;
    font-size: 6.4rem;
}

h2 {
    font-weight: bold;
    font-size: 4rem;
}

h1,
h2 {
    letter-spacing: -1px;
    line-height: 112%;
    font-family: 'Poppins';
    color: $gray-500;

}

h3 {
    font-size: 2.4rem;
    line-height: 150%;

}

h4 {
    font-size: 2rem;
    line-height: 112%;

}

h3,
h4 {
    font-family: 'Poppins';
    color: $gray-500;
    letter-spacing: -0.5px;
    font-weight: 500;

}